# ==============================================================================
# Django Settings
# ==============================================================================
SECRET_KEY =
DEBUG =

# ==============================================================================
# Postgresql Database Configuration
# ==============================================================================
NAME =
USER =
PASSWORD =
HOST =
PORT =

# ==============================================================================
# Email Configuration (SMTP)
# ==============================================================================
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_USE_SSL=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# ==============================================================================
# Redis Configuration
# ==============================================================================
LOCATION=