<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Мой сад</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Мой сад</h5>
    <nav class="ms-5">
        <a class="p-2 btn btn-outline-primary" href="/">Каталог</a>
        <a class="p-2 btn btn-outline-primary" href="/contacts/">Контакты</a>
    </nav>
</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Мой сад</h1>
    <p class="lead">маркетплейс садовых растений</p>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
<div class="container">
    {% load my_tags %}
    <div class="row text-center row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        {% for product in products %}
        <div class="col d-flex">
            <div class="card w-100 h-100 box-shadow d-flex flex-column pb-3">
                <div class="card-header p-0" style="height: 200px; overflow: hidden;">
                    <img src="{{ product.image | media_filter }}"
                         class="card-img-top w-100 h-100"
                         style="object-fit: cover;"
                         alt="Изображение отсутствует">
                </div>
                <div class="card-body d-flex flex-column justify-content-between p-3">
                    <div class="d-flex flex-column gap-1">
                        <h5 class="card-title m-0 d-flex align-items-center justify-content-center"
                            style="height: 3.6em; line-height: 1.2em; overflow: hidden;">
                            {{ product.name }}
                        </h5>
                        <div class="mt-2">
                            <h6 class="text-muted m-0 mb-1">Описание</h6>
                            <div style="min-height: 70px;" class="d-flex align-items-center justify-content-center">
                                <p class="card-text m-0 small text-secondary">
                                    {{ product.description|truncatechars:100 }}
                                </p>
                            </div>
                        </div>
                        <div class="mt-2">
                            <h6 class="text-muted m-0 mb-1">Характеристики</h6>
                            <div style="min-height: 40px;" class="d-flex align-items-center justify-content-center">
                                <p class="card-text m-0 small">Категория: {{ product.category }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-3 mt-auto">
                    <h2 class="card-title pricing-card-title mb-2">{{ product.price }} ₽</h2>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary w-100">Купить</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                Мой сад
                <small class="d-block mb-3 text-muted">&copy; 2026</small>
            </div>
            <div class="col-6 col-md">
                <h5>Категории</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Блог садовода</a></li>
                    <li><a class="text-muted" href="#">Подборки растений</a></li>
                    <li><a class="text-muted" href="#">Отзывы</a></li>

                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Дополнительно</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Мы пишем</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>О нас</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/contacts/">Контакты</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
</body>
</html>