{% extends 'base.html' %}
{% load my_tags %}
{% block content %}

<div class="row text-center row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    <div class="col d-flex">
        <div class="card w-100 h-100 box-shadow d-flex flex-column pb-3">
            <div class="card-header p-0" style="height: 200px; overflow: hidden;">
                <img src="{{ product.image | media_filter }}"
                     class="card-img-top w-100 h-100"
                     style="object-fit: cover;"
                     alt="Изображение отсутствует">
            </div>
            <div class="card-body d-flex flex-column justify-content-between p-3">
                <div class="d-flex flex-column gap-1">
                    <h5 class="card-title m-0 d-flex align-items-center justify-content-center"
                        style="height: 3.6em; line-height: 1.2em; overflow: hidden;">
                        {{ product.name }}
                    </h5>
                    <div class="mt-2">
                        <h6 class="text-muted m-0 mb-1">Описание</h6>
                        <div style="min-height: 70px;" class="d-flex align-items-center justify-content-center">
                            <p class="card-text m-0 small text-secondary">
                                {{ product.description|truncatechars:100 }}
                            </p>
                        </div>
                    </div>
                    <div class="mt-2">
                        <h6 class="text-muted m-0 mb-1">Характеристики</h6>
                        <div style="min-height: 40px;" class="d-flex align-items-center justify-content-center">
                            <p class="card-text m-0 small">Категория: {{ product.category }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-3 mt-auto">
                <h2 class="card-title pricing-card-title mb-2">{{ product.price }} ₽</h2>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary w-100">Купить</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}